<!DOCTYPE html>
<html>
<head>
	<title>Scan report</title>
	<link rel="stylesheet" href="reportStyle.css">
    <link rel="icon" href="https://ratterscanner.com/favicon.ico">
    <script> 
        let completed = "<%= locals.completed %>"
        let position = "<%= locals.quePosition %>"
        let percentComplete = "<%= locals.percentComplete %>"
        let dynamicAnalysisStatus = "<%= locals.status %>"
        let scanID = "<%= locals.appID %>"
        let downloadCount = Number("<%= locals.downloads %>")
        console.log(downloadCount)
        let scanReport
    </script>
    <% function fileSizeConverter(bytes) {
        if (bytes === 0) {
            return "0 B";
        };
        const k = 1024;
        const sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
        const i = Math.floor(Math.log(bytes) / Math.log(k));
        return parseFloat((bytes / Math.pow(k, i)).toFixed(2)) + " " + sizes[i];
    } %> 
</head>
<body>
    <input type="hidden" id="scanDataID" value="<%= JSON.stringify(jsonReport) %>">
    <% if (locals.completed == "waiting") { %>
        <h1 style="text-align: center;">File is in the que</h1>
        <p style="text-align: center;">Another file is being scanned and your file has been placed in the que</p>
        <p id="quePositionElement" style="text-align: center;">ERROR getting position</p>
        <div class="loading-animation">
            <img id="myImage" src="ratterscanerPixelArtNoBackground.png" alt="LoadingRat">
        </div>   
    <% } else if (!(locals.completed == "completed")) { %>
        <h1 style="text-align: center;">Scan in progress</h1>
        <p id="staticAnalysisStatus" style="text-align: center;">ERROR getting status</p>
        <p id="dynamicAnalysisStatus" style="text-align: center;">ERROR getting status</p>
        <div class="loading-animation">
            <img id="myImage" src="ratterscanerPixelArtNoBackground.png" alt="LoadingRat">
        </div>
    <% } else { %> 
        <div class="container">
            <h1>Report for scan ID: <%= locals.appID %> </h1>
            <div class="divider"></div>
            <div class="columns">
                <div id="resultOverview" class="column">
                    <p>Overall result: <span class="malicious">malicious</span></p>
                </div>
                <div class="column">
                    <p>File name: <%= jsonReport.returnvalue.regex.fileProperties.name.originalName %></p>
                </div>
                <div class="column">
                    <p>Size: <%= fileSizeConverter(jsonReport.returnvalue.regex.fileProperties.size) %></p>
                  </div>
                <div class="column">
                    <p>SHA256: <%= jsonReport.returnvalue.regex.fileProperties.hash.SHA_256_hash %></p>
                </div>
                <div class="column">
                    <p>MD5: <%= jsonReport.returnvalue.regex.fileProperties.hash.MD5_hash %></p>
                </div>
                <div class="column">
                    <p>SHA12: <%= jsonReport.returnvalue.regex.fileProperties.hash.SHA_512_hash %></p>
                </div>
            </div>
            <div class="divider"></div>
            <!-- ----------------------------------------- -->
            <span id="modrinthNotice" class=""></span>
            <h1>Static analysis</h1>
            <div class="box-container">
                <div class="box-chain">
                    <div id="maliciousBox" class="box" style="background-color: #e63232;">
                        <p style="margin: 10px;">Malicious indicators</p>
                    </div>
                    <div id="staticMaliciousTemplate">
                    </div>
                </div>
            <div>
            <div class="box-container">
                <div class="box-chain">
                    <div class="box" style="background-color: #edd040;">
                        <p style="margin: 10px;">Suspicious indicators</p>
                    </div>
                    <div id="staticSuspiciousTemplate"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------------- -->

        <div class="divider"></div>
            <h1>Network analysis</h1>
            <div class="box-container">
                <div class="box-chain">
                    <div class="box" style="background-color: #e63232;">
                        <p style="margin: 10px;">Malicious connections</p>
                    </div>
                    <div id="dynamicMaliciousTemplate"></div>
                    </div>
                </div>
            <div>
            <div class="box-container">
                <div class="box-chain">
                    <div class="box" style="background-color: #edd040;">
                        <p style="margin: 10px;">Unknown connections</p>
                    </div>
                    <div id="dynamicUnknownTemplate"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- --------------- -->

        <div class="divider"></div>
            <span class="malicious">WARNING these flags are in development and could be completley incorrect! They are only provided as information!</span>
            <h1>Dev flags</h1>
            <div class="box-container">
                <div class="box-chain">
                    <div class="box" style="background-color: #000000;">
                        <p style="margin: 10px;">DEV FLAGS</p>
                    </div>
                    <div id="devFlagTemplate">
                    </div>
                </div>
            <div>
        </div>

        <div class="contents-bar">
            <ul> <!--Axle make the navbar work plz-->
                <li>File info</li>
                <li>Static analysis</li>
                <li>Network analysis</li>
                <li>File operations</li>
                <li>Dev flags</li>
            </ul>
        </div>
    <% } %>
    <script src="reportScript.js"></script>
</body>
</html>